.campaignContactListContainer {
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 1px;
}

.campaignContactListContainer .ocbn.table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.campaignContactList {
  margin-top: 34px;
  margin-right: 15px;
}
