.campaign-wizard .wizard .nav-tabs {
    margin: 0;
}
.campaign-wizard .tab-content {
    margin-top: 25px;
}

.campaign-wizard .contact-list .buttons {
    margin: 20px auto;
}

.campaign-wizard .overview .template-preview {
    margin-bottom: 10px;
}
