<!DOCTYPE html>
<html>
<head>
  <title>Campaign Editor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/vendor/bootstrap-social/css/bootstrap-social.css" />
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/onboarding/static/css/jcatalog-bootstrap-bundle.css"/>
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/onboarding/static/css/custom.css"/>
</head>
<body style="background: url(/img/oc-register-bg.jpg) top center; background-size: 100% auto; background-attachment: fixed;">

<div class="container">
  <div class="login-card error-page">
    <div class="login-client-image">

    </div>
    <form class="form-horizontal" action="" method="post">
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-6 col-md-offset-3" style="background: #fff; box-shadow: 0px 0px 20px rgba(0,0,0,.25); padding: 1em 0 6em;">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>{{translations.title}}</h2>
              <p>{{translations.description}}</p>
            </div><!-- /col -->
          </div><!-- /row -->
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="copyright text-center">
                <p>
                &copy; 2001 &mdash; 2017&nbsp;&nbsp;
                <a href="http://www.opuscapita.com/">
                  <img src="/img/oc-logo-rgb.svg" style="height: 1.2em;" />
                </a>
                </p>
              </div>
            </div>
          </div>


        </div><!-- /col -->
      </div><!-- /row -->
    </form>
  </div>
</div>
</body>
</html>
