<!DOCTYPE html>
<html>
<head>
    <title>Campaign Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{campaignServiceUrl}}/css/ocui-bootstrap-bundle-0.1.2.css">
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

    <script src="{{campaignServiceUrl}}/static/bundle.js"></script>
</head>
<body>
<span id="root"></span>
<script type="text/javascript">
    window.campaigns.renderCampaignEditor(document.getElementById("root"), {
        campaignServiceUrl: '{{campaignServiceUrl}}',
        locale: 'en',
        formatPatterns: {
            'en': {
                'datePattern': 'MM/dd/yyyy',
                'integerPattern': '#,##0',
                'numberPattern': '#,##0.00',
                'numberDecimalSeparator': '.',
                'numberGroupingSeparator': ',',
                'numberGroupingSeparatorUse': true
            },
            'de': {
                'datePattern': "dd.MM.yyyy",
                'integerPattern': "#,##0",
                'numberPattern': "#,##0.00",
                'numberDecimalSeparator': ",",
                'numberGroupingSeparator': ".",
                'numberGroupingSeparatorUse': true
            }
        },
        currentUserInfo: {
            username: 'jcadmin'
        }
    });
</script>
</body>
</html>
