<!DOCTYPE html>
<html>
<head>
      <title id="system-title">Campaign Editor</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="shortcut icon" type="image/x-icon" href="/onboarding/static/img/favicon.ico">
      <link rel="stylesheet" href="/onboarding/static/css/bootstrap-3.3.7.min.css">
      <link rel="stylesheet" href="/onboarding/static/css/ocui-bootstrap-bundle-0.1.2.css">
      <link rel="stylesheet" href="/onboarding/static/css/custom.css">
      <script src="/onboarding/static/vendor/js/jquery-3.1.1.min.js"></script>
</head>

<body>
      <div id="root"></div>
      <script src="/onboarding/static/{{bundle}}"></script>
      <script src="/onboarding/static/vendor/js/bootstrap-3.3.7.min.js"></script>
</body>
</html>
